html,body{
    margin: 0px;
    padding: 0px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1f2937 ;
    color: aliceblue;
    padding: 50px;  
    height: 50x;
}

.button1{
    background-color: white;
    color: #3882f6;
    border: none;
    padding: 5px;
    transition-duration: 0.4s;
    border-radius: 7px;
}
.button1:hover {
    background-color: #3882f6;
    color: white;
  }

img{
    height: 200px;
    width: auto;
    padding: 20px;
}

.second{
    display: flex;
    padding: 50px;
    justify-content: space-evenly;
    color: aliceblue;
    background-color: #1f2937;
    height: 200px;
    border: 50px;
}

.images {
    height: 140px;
    display: flex;
    justify-content: space-evenly;
    height : 350px;
    margin-left: -100px;
  }

  .item {
    width: 100px;
    height: 100px;
    
  }

  .quote{
    padding: 5% 20%;
    background-color: #e5e7eb;
  }

  .buttonn{
    padding: 20px;
    
    
  }

  .inside6{
    background-color: #3882f6;
    display: flex;
    color: aliceblue;  
    padding: 20px;
    justify-content: space-around;
    border-radius: 7px;
  }

  .sixth{
    padding: 2% 10%;
  }

  .button2{
    color: white;
    background-color: #3882f6;
    border: none;
    border: 2px solid white;
    padding: 10px;
    border-radius: 7px;
    
  }

  .footers{
    background-color: #1f2937;
    color: #e5e7eb;
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }